<section class="w3l-block py-5">
  <div class="container py-lg-5 py-md-4">
    <div class="row row-left">
      <div class="col-lg-12 col-md-6 align-self">
        <p class="mt-2 border border-top-0 border-left-0 border-right-0">Table of Contents</p>

        <ol class="list-body scroll-left-row">
          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(freetrial)">
            1.&nbsp;&nbsp;Free
            Trial</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(useservices)">
            2.&nbsp;Use of
            Services</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(nonaaait)">
            3.&nbsp;Non AAAIT
            Services</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(accesssubcription)">
            4.&nbsp;Access and Subscription</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(propertyrights)">
            5.&nbsp;Proprietary Rights</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(intellectualprop)">
            6.&nbsp;Intellectual Property</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0"
            (click)="scroll(warrantiesdisclaimer)">
            7.&nbsp;Warranties and Disclaimer</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(indemnification)">
            8.&nbsp;Mutual
            Indemnification</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(liability)">
            9.&nbsp;Limitation of
            Liability</li>

          <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(generalprovisions)">
            10.&nbsp;General Provisions</li>
          <ol>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(agreementscope)">
              1.&nbsp;Purpose & Scope of Agreement
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0"
              (click)="scroll(aaitresponsibility)">
              2.&nbsp;Responsibilities of AAAIT PLC
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0"
              (click)="scroll(customerresponsibilty)">
              3.&nbsp;Responsibilities of Customer
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(modifyservice)">
              4.&nbsp;Modifications of the Service
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(patentsrights)">
              5.&nbsp;Patents, Copyrights & Intellectual Property Rights
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(liabilitylimit)">
              6.&nbsp;Warranties & Limitation of Liability
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(termination)">
              7.&nbsp;Termination
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(arbitration)">
              8.&nbsp;Governing Law & Arbitration
            </li>
            <li class="mt-md-4 mt-3 border border-top-0 border-left-0 border-right-0" (click)="scroll(general)">
              9.&nbsp;General
            </li>
          </ol>
        </ol>
        <div class="border border-left-0 border-right-0">
          <a href="https://drive.google.com/file/d/187u2bgxf0pWNAoUXPViXgJlMK9dkL0CO/view?usp=sharing"
            target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Download PDF</a>
        </div>
      </div>
    </div>
  </div>
</section>
