.row-left {
  width: 30%;
  float: left;
}

.list-body li {
  cursor: pointer;
}

.scroll-left-row {
  max-height: 470px;
  overflow-y: scroll;
}

@media (max-width: 994px) {
  .row-left {
    display: none;
  }

}
