.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: orange;
  color: white;
  font-weight: 600;

}

.toolbar img {
  margin: 0 35px;

}

.toolbar #twitter-logo {
  height: 40px;
  /* margin: 0 16px; */
  margin: 0 35px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.spacer {
  flex: 1;
}

.inibla-title {
  font-family: Comfortaa;
}

.logo-height {
  height: 80px;
  /* height: 58px; */
}

/* header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  background: var(--primary-color);
  height: 60px;
  display: grid;
  align-items: center;
  // border-bottom: 1px solid #ff6555; //
} */

.contact-p {
  line-height: 25px;
}

.cls-1 {
  fill: none;
  width: 400;
  height: 400;
}

.cls-2 {
  fill: #ffffff;
}
