<app-contact></app-contact>
<section class="w3l-block py-5">
  <div class="container py-lg-5 py-md-4">
    <div class="row">
      <div class="col-lg-12 col-md-6 align-self">
        <h3>Inibla Terms of Service</h3>
        <p class="mt-md-4 mt-3 mb-0">Welcome to Inibla! When you use Inibla services, you trust us with your
          information. This Privacy Policy is meant to help you understand what data we collect and what we do with it.
          We hope you would take time to read it carefully.</p>
      </div>
      <div class="col-lg-12 col-md-6 align-self mt-10">
        <h3>Terms of Service</h3><br>
        <p>Last updated: June 16, 2020</p>
        <p class="mt-md-4 mt-3 mb-0">WWelcome to Inibla (https://inibla.com) which is operated by AA Advanced
          Information Technology PLC (“AAAIT” , “The Company”, “Us”). Inibla is a cloud service in the field of food
          delivery. By using or visiting this Site (the website, the app and all connecting services) you signify your
          assent to these Terms. These Terms apply to all users of the Site. If you do not agree to these Terms, then
          please do not access or otherwise use the Site. You hereby acknowledge and accept that the Company may revise,
          edit, amend, and/or alter in any way the conditions of these Terms at any time by simply updating and
          re-posting revised Terms to the Site. Such revisions, changes or amendments shall be based upon the sole
          discretion of the Company.

          You may not access the Services if you are our direct competitor, except with our prior written consent. In
          addition, you may not access the Services for the purpose of monitoring their availability performance of
          functionality or for any other benchmarking or competitive purposes. The Services are intended for legal
          entities and individuals aged 12 years or older.</p>
      </div>
      <div class="col-lg-12 col-md-6 align-self mt-10">
        <h3 class="mt-10">1.</h3>
        <p class="mt-md-4 mt-3  mb-0"><b class="text">FREE TRIAL - </b>If You register on our Site for
          a free trial, We will make the Services available to You on a trial basis free of charge until the earlier of
          (a) the end of the free trial period for which You registered or are registering to use the applicable Service
          or (b) the start date of any Purchased Services ordered by You. Additional trial terms and conditions may
          appear on the trial registration web page. Please review the Inibla Documentation during the trial period so
          that You become familiar with the features and functions of the Services before You make Your purchase.</p>
        <p class="mt-md-4 mt-3  mb-0"><b class="text">Use of Services - </b>Subject to Your compliance with these Terms
          and Your payment to the Company for the use of the Services, the Company hereby grants you a limited,
          non-exclusive, non-transferable, non-sub-licensable revocable right to use and access the Services via the
          Internet during the subscription period, and use the Services only in accordance with these Terms. The
          Services may be accessed solely by the number of users as specified in the registration process. The Services
          may be only accessed by You and must be in accordance with the conditions set forth in these Terms. You hereby
          acknowledge that the Services shall not be provided to you in CD-ROM form, or any other form of media and will
          not be installed on any servers or any other computer equipment controlled and/or held by You. You fully
          acknowledge and accept that the Services will be hosted by Us through the use of the Internet and a browser.
        </p>
        <p class="mt-md-4 mt-3  mb-0"><b>Our Responsibilities.</b>We shall: (i) provide Our basic support for the
          Purchased Services to You, and/or any upgraded support if one was purchased, (ii) use commercially reasonable
          efforts to make the Purchased Services available 24 hours a day, 7 days a week, except for: (a) planned
          downtime (of which We shall give at least 8 hours notice via the Purchased Services and which We shall
          schedule to the extent practicable during the weekend hours from 6:00 p.m. Friday to 3:00 a.m. Monday
          Greenwich Mean Time), or (b) any unavailability caused by circumstances beyond Our reasonable control,
          including without limitation, acts of God, acts of government, floods, fires, earthquakes, civil unrest, acts
          of terror, strikes or other labor problems (other than those involving Our employees), Internet service
          provider failures or delays, Cloud platform provider failures or delays or denial of service attacks, and
          (iii) provide the Purchased Services only in accordance with applicable laws and government regulations.</p>
        <p class="mt-md-4 mt-3  mb-0"><b>Our Protection of Your Data.</b>We shall maintain appropriate administrative,
          physical, and technical safeguards for protection of the security, confidentiality, and integrity of Your
          Data. We shall not (a) modify Your Data, (b) disclose Your Data except as compelled by law or court order, or
          as expressly permitted in writing by You, or (c) access Your Data except to provide the Services and prevent
          or address service or technical problems, or at Your request in connection with customer support matters. You
          may refer to our Privacy Policy Page — for any further information.</p>
        <p class="mt-md-4 mt-3  mb-0"><b>Your Responsibilities.</b>You shall (i) be responsible for Users' compliance
          with these Terms, (ii) be responsible for the accuracy, quality and legality of Your Data and of the means by
          which You acquired Your Data, (iii) use commercially reasonable efforts to prevent unauthorized access to or
          use of the Services, and notify Us promptly of any such unauthorized access or use, and (iv) use the Services
          only in accordance with the Inibla Documentation and applicable laws and government regulations. You shall not
          (a) make the Services available to anyone other than Users, (b) sell, resell, rent or lease the Services
          without our written consent, (c) use the Services to store or transmit infringing, defamatory, or otherwise
          unlawful or tortuous material, or to store or transmit material in violation of third-party privacy rights,
          (d) use the Services to store or transmit Malicious Code, (e) interfere with or disrupt the integrity or
          performance of the Services or third-party data contained therein, or (f) attempt to gain unauthorized access
          to the Services or their related systems or networks, (g) disclose any passwords or user identification
          numbers issued to You. The Services are developed, hosted, secured, and operating in a geographically
          distributed facility. While running 24/7, the facility is taking various measures to protect operations from
          power failure, physical intrusion, and network outage.</p>
      </div>
      <div class="col-lg-12 col-md-6 align-self mt-10">
        <h3 class="mt-10">2.</h3>
        <p class="mt-md-4 mt-3  mb-0"><b class="text">Access and subscription to services - </b> Subject to these Terms,
          the Company will make the Services available for the Client's use during the term through the use of the
          Internet and a browser.</p>
      </div>
      <div class="col-lg-12 col-md-6 align-self mt-10">
        <h3 class="mt-10">3.</h3>
        <p class="mt-md-4 mt-3  mb-0"><b class="text">Proprietary rights - </b>Reservation of Rights in Services.
          Subject to the limited rights expressly granted hereunder, We reserve all rights, title and interest in and to
          the Services, including all related intellectual property rights. No rights are granted to You hereunder other
          than as expressly set forth herein. Restrictions. You shall not (i) permit any third party to access the
          Services except as permitted herein, (ii) create derivative works based on the Services except as authorized
          herein, (iii) copy, frame or mirror any part or content of the Services, other than copying or framing on Your
          own intranets or otherwise for Your own internal business purposes, (iv) reverse engineer the Services, or (v)
          access the Services in order to (a) build a competitive product or service, or (b) copy any features,
          functions or graphics of the Services.</p>
      </div>
      <div class="col-lg-12 col-md-6 align-self mt-10">
        <h3 class="mt-10">4.</h3>
        <p class="mt-md-4 mt-3  mb-0"><b class="text">Intellectual property - </b>You shall not copy the Software and/or
          its manual(s) or any other written materials accompanying the Services. The Software and Documentation and all
          its intellectual property rights in the Software are and at all time shall remain the sole and exclusive
          property of the Company and are protected by the applicable intellectual property laws and treaties and by
          international copyright and intellectual property law. The Company hereby expressly reserves all rights in the
          Software and the Services, whether explicitly or not specifically granted to You. You hereby acknowledge,
          agree and accept that all rights, title and interest in the Software and Services will remain with the Company
          and that the Services and Software are licensed in a subscription basis and not sold to You. The license
          granted to You herein does not bestow nor grant to You the right to use any trademark, service mark, trade
          name or any other mark of the Company or any other party or licensor. No rights or licenses are granted except
          as expressly and unambiguously set forth in these Terms. You are aware that any printed material or output
          matters from the software (such as invoice printout, email messages to customers etc.) the Inibla logo, words
          "printed by Inibla" or similar words might appear. Any such print is in the sole discretion of the Company.
        </p>
      </div>
      <div class="col-lg-12 col-md-6 align-self mt-10">
        <h3 class="mt-10">5.</h3>
        <p class="mt-md-4 mt-3  mb-0"><b class="text">Warranties and disclaimer - </b>Limited Warranty. The Company
          hereby warrants to You that the Services will perform substantially in accordance with the specifications as
          may be published and modified by the Company on the Site from time to time (hereinafter: the
          “Specifications”). In the event that the Services do not conform with the Specifications, and if You do not
          promptly notify Us, the Company and its suppliers' entire liability and Your exclusive remedy shall be, at the
          election of the Company, either (i) the return of the price paid by You during the last three months or (b)
          repair of the Software so as Services shall conform with the Specifications. Disclaimer. EXCEPT AS EXPRESSLY
          PROVIDED HEREIN, NEITHER PARTY MAKES ANY WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR
          OTHERWISE, AND EACH PARTY SPECIFICALLY DISCLAIMS ALL IMPLIED WARRANTIES, INCLUDING ANY WARRANTIES OF
          MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW. EXCEPT
          FOR THE LIMITED WARRANTY SET FORTH HEREABOVE, THE SERVICE IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND.
          THE COMPANY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH RESPECT TO THE SOFTWARE AND/OR THE SERVICES, WHETHER
          EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, ACCURACY, RELIABILITY
          NONINFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE. THE COMPANY SPECIFICALLY DISCLAIMS ANY WARRANTY THAT
          THE OPERATION OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR FREE. WITHOUT DEROGATING OF THE AFOREMENTIONED,
          YOU ACKNOWLEDGE THAT YOU ARE AWARE OF THE FACT THAT THE SERVICE IS PROVIDED OVER THE INTERNET AND AS SUCH YOU
          HEREBY IRREVOCABLY WAIVE ANY CLAIM THAT MAY ARISE IN CONNECTION WITH OR AS A RESULT OF ANY MALFUNCTION AND/OR
          DEFAULT AND/OR UNSUITABILITY IN THE INTERNET AND/OR THE CONNECTIVITY OF ANY PARTIES' DEVICES TO THE INTERNET.
        </p>
        <a href="https://drive.google.com/file/d/187u2bgxf0pWNAoUXPViXgJlMK9dkL0CO/view?usp=sharing" target="_blank"
          class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-book mr-2"></span>
          Read More</a>
      </div>
    </div>
  </div>
</section>
